{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="{% url 'logout'%}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </button>
                    </form>
<div class="container m-5 p-2 rounded mx-auto bg-light shadow">
    <div class="row m-1 p-4">
        <div class="col">
            <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
                <i class="fa fa-check bg-primary text-white rounded p-2"></i>
                <u>Tic-Tic</u>
            </div>
        </div>
    </div>
    <form action="{% url 'insert_item' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row m-1 p-3">
            <div class="col col-11 mx-auto">
                <div
                    class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                    <div class="col">
                        <input name="content"
                            class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded"
                            type="text" placeholder="Add new ..">
                    </div>
                    <div class="col-auto px-0 mx-0 mr-2">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="p-2 mx-4 border-black-25 border-bottom"></div>

    {% for todo in todo_list %}

    <div class="row mx-1 px-5 pb-3 w-80">
        <div class="col mx-auto">
            <div class="row px-3 align-items-center todo-item rounded">
                <div class="col px-1 m-1 d-flex align-items-center">
                    <input type="text"
                        class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3"
                        readonly value="{{todo.content}}" title="{{todo.content}}" />
                    <input type="text" class="form-control form-control-lg border-0 edit-todo-input rounded px-3 d-none"
                        value="{{todo.content}}" />
                </div>
                <div class="col-auto m-1 p-0 px-3 d-none">
                </div>
                <form action="{% url 'delete_item' todo.id %}" method="post" class="float-right d-inline">
                    {% csrf_token %}
                    <div class="col-auto m-1 p-0 todo-actions">
                        <div class="row d-flex align-items-center justify-content-end">
                            <h5 class="m-0 p-0 px-2">
                                <button type="submit" class="btn">
                                    <i class="fa fa-trash-o text-danger btn m-0 p-0" data-toggle="tooltip"
                                        data-placement="bottom" title="Delete todo"></i>
                                </button>
                            </h5>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}